* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    justify-content: center;
}

.child {
    width: 350px;
    margin-top: 150px;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    position: relative;

}

.child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.msg {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -44px;
    right: 0;
    width: 140px;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}

.msg p {
    position: absolute;
    z-index: 5;
    padding: 8px 16px;
    background-color: #e7e7e7;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.sign {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 14px;
    width: 14px;
    bottom: -40px;
    background-color: #e7e7e7;
    left: 14px;
    transform: rotate(45deg);
}

.child:hover .msg {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}